## 03. Pandas数据结构

1. Series
2. DataFrame
3. 从DataFrame中查询出Series

In [5]:
import pandas as pd
import numpy as np

### 1. Series

Series是一种类似于一维数组的对象，它由一组数据（不同数据类型）以及一组与之相关的数据标签（即索引）组成。

#### 1.1 仅有数据列表即可产生最简单的Series

In [6]:
s1 = pd.Series([1,'a',5.2,7])

In [7]:
# 左侧为索引，右侧是数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [8]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# 获取数据
s1.values

array([1, 'a', 5.2, 7], dtype=object)

#### 1.2 创建一个具有标签索引的Series

In [10]:
s2 = pd.Series([1, 'a', 5.2, 7], index=['d','b','a','c'])

In [11]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [12]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

#### 1.3 使用Python字典创建Series

In [13]:
sdata={'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}

In [14]:
s3=pd.Series(sdata)

In [15]:
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

#### 1.4 根据标签索引查询数据
类似Python的字典dict

In [ ]:
s2

In [18]:
s2['a']

5.2

In [ ]:
type(s2['a'])

In [ ]:
s2[['b','a']]

In [ ]:
type(s2[['b','a']])

### 2. DataFrame
DataFrame是一个表格型的数据结构
* 每列可以是不同的值类型（数值、字符串、布尔值等）
* 既有行索引index,也有列索引columns
* 可以被看做由Series组成的字典

创建dataframe最常用的方法，见02节读取纯文本文件、excel、mysql数据库

#### 2.1 根据多个字典序列创建dataframe

In [19]:
data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)

In [20]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [21]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [ ]:
df.columns

In [ ]:
df.index

### 3. 从DataFrame中查询出Series

* 如果只查询一行、一列，返回的是pd.Series
* 如果查询多行、多列，返回的是pd.DataFrame

In [ ]:
df

#### 3.1 查询一列，结果是一个pd.Series

In [ ]:
df['year']

In [ ]:
type(df['year'])

#### 3.2 查询多列，结果是一个pd.DataFrame

In [ ]:
df[['year', 'pop']]

In [ ]:
type(df[['year', 'pop']])

#### 3.3 查询一行，结果是一个pd.Series

In [23]:
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [ ]:
type(df.loc[1])

#### 3.4 查询多行，结果是一个pd.DataFrame

In [ ]:
df.loc[1:3]

In [ ]:
type(df.loc[1:3])